:root {
    font-family: 'Helvetica Now Display' , sans-serif;
    }

.nav-content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.nav-content a {
    display: block;
    font-size: 14px;
    line-height: 44px;
    text-decoration: none;
    transition: all 0.3s;
    color: #ffffff;
}

.nav-content a hover;

.nav-icon: hover;

.search-icon: hover {
    opacity: 0.7;
}
.nav-links {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-icon {
    display: none;
    grid-gap: 5px;
    grid-template-columns: auto;
    padding: 17px 0;
    height: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.bar {
    height: 1px;
    width: 18px;
    background: none;
    transition: 0.5s;
}
.show .one {
    transform: rotate(45deg) translateY(5.5px);
}
.show .two {
    transform: rotate(-45deg) translateY(-5.5px);
}
    
@media (max-width: 768px) {
    .show {
        background-color: #000000;
    }
    .nav-links {
        position: fixed;
        top: 44px;
        right: 0;
        height: 0;
        width: 100%;
        background: #333333;
        flex-direction: column;
        justify-content: flex-start;
        transition: height 2s cubic-bezier(0.19, 1, 0.22, 1),
            background-color 0.3s;
    }
    .show .nav-links {
        height: 100%;
        background-color: #000000;
    }
    .nav-links a {
        height: 0;
        width: 0;
        opacity: 0;
        overflow: hidden;
        margin-right: 50px;
        margin-left: 50px;
        transition: opacity 1.5s, height 2s;
    }
    .show .nav-links a {
        opacity: 1;
        width: auto;
        height: auto;
    }
    .nav-icon {
        order: 1;
        display: grid;
    }
    .logo {
        order: 2;
    }
    .search-icon {
        order: 3;
    }
}
    
<body>

img {
    height: auto;
    max-width: 100% auto;

        </body>

<---Footer--->
footer{
    background: #ffffff;
    margin: 16px;
    }
    
footer a{
    text-decoration: none;
    color: #ffffff;
    text-align: center; 
    padding: 16px;
    font-weight: bold;
    font-size: 1.68pt
    }  

footer ul{
    display: flex;
    list-style-type: none;
    padding: 16px;
    background-color: #ffffff;
    display: block;
    float: left; 
    }
    
footer :hover{
    background: #ff0000;
    color: #ffffff;
    }
        
        </body>

    </div>
   
