:root {
    --primary: #af211d;
    --light: #fcfdff;
    --dark: #000000;
    font-family: 'Helvetica Now Display' , sans-serif;
    }

<---Navigation Bar--->
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Now Display' , sans-serif;
    }
    
.container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    
nav { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 16px;
    z-index: 99;
    background-color: var(#000000);
    padding: 16px;
    border-bottom: 4px solid var(#af211d);
    }
    
.nav a{
    text-decoration: none;
    color: #fcfdff;
    text-align: center;
    text-transform: uppercase; 
    font-weight: bold;
    font-size: 1.68pt
    padding: 16px;
    }  

.nav ul{
    display: flex;
    list-style-type: none;
    background-color: #ffffff;
    display: flex;
    float: left; 
    }
    
.nav a:hover{
    background: #ff0000;
    color: #ffffff;
    }

.hamburger {
    display: block;
    position: relative;
    z-index: 1;
    
    user-select: none;
    
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    }
    
.hamburger span {
    display: block;
    width: ;
    height: ;
    margin-bottom: 4px;
    postion: relative;
    
    background-color: ;
    border-radius: 0px;
    z-index: 1;
    
    transform-origi: 0 0;
    
    transition: 0.4s;
    }
    
.hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: ;
    }
       
.hamburger.is-active span:nth-child(1) {
    transform: translateX(0px, -2px); rotate(45deg);
    }

.menu {
        display: none;
    }
    
<---Main--->
img {
    height: auto;
    max-width: 100% auto;

    
<---Footer--->
.footer{
    background: #ffffff;
    margin: 16px;
    }
    
.footer a{
    text-decoration: none;
    color: #ffffff;
    text-align: center; 
    padding: 16px;
    font-weight: bold;
    font-size: 1.68pt
    }  

.footer ul{
    display: flex;
    list-style-type: none;
    padding: 16px;
    background-color: #ffffff;
    display: block;
    float: left; 
    }
    
.footer :hover{
    background: #ff0000;
    color: #ffffff;
