:root {
    --primary: #af211d;
    --light: #fcfdff;
    --dark: #000000;
    font-family: 'Helvetica Now Display';
}

<---Navigation Bar--->
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Now Display';
    
.container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    
nav { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--primary);
    padding: 16px 32px;
    border-bottom: 4px solid var(--primary);
    }
    
.hamburger {
    }
    
.menu {
        display: none;
    }
    
.nav a{
    text-decoration: none;
    color: #fcfdff;
    text-align: center;
    text-transform: uppercase; 
    font-weight: bold;
    font-size: 1.68pt
    padding: 16px;
    }  

.nav ul{
    display: flex;
    list-style-type: none;
    background-color: #ffffff;
    display: flex;
    float: left; 
    }
    
.nav a:hover{
    background: #ff0000;
    color: #ffffff;
    }
    
.nav animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    }  
    
anth-child(1) {
width: 100px;
anth-child(2) {
width: 110px;
}

anth-child(3) {
width: 100px;
a:nth-child (4) {
width: 160px;
anth-child(5) {
width: 120px;
}

nav .start-Work, anth-child(1):hover~.animation {
width: 100px;
left: 0;
background-color: ##ff0000;
}
    
nav .start-Example, anth-child(2):hover~.animation {
width: 100px;
left: 210px;
background-color: #3498db;
nav .start-Example 2, anth-child(3):hover~.animation {
width: 160px;
left: 310px;
background-color: #9b59b6;
}

}
nav .start-contact, a:nth-child(4):hover~.animation {
width: 120px;
left: 470px;
background-color: #e6722;
}
body {
Dislike
]
font-size: 12px;
font-family: 'Helvetica Now Display' , sans-serif; background: #2c3e50;
]
span {
color: #2BD6B4;

 
<---Main--->
img {
    height: auto;
    max-width: 100% auto;

    
<---Footer--->
.footer{
    background: #ffffff;
    margin: 16px;
    }
    
.footer a{
    text-decoration: none;
    color: #ffffff;
    text-align: center; 
    padding: 16px;
    font-weight: bold;
    font-size: 1.68pt
    }  

.footer ul{
    display: flex;
    list-style-type: none;
    padding: 16px;
    background-color: #ffffff;
    display: block;
    float: left; 
    }
    
.footer :hover{
    background: #ff0000;
    color: #ffffff;
