<!---NavigationBar--->
.nav{
    background: #000000
    margin: 16px
    overflow: hidden;
    }
    
.nav a{
    text-decoration: none;
    color: #ffffff;
    text-align: center; 
    font-weight: bold;
    font-size: 1.68pt
    }  

.nav ul{
    display: flex;
    list-style-type: none;
    padding: 16px;
    background-color: #ffffff
    display: block;
    float: left; 
    }
    
.nav a:hover{
    background: #ff0000;
    color: #ffffff;